@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Fontes*/
@font-face {
  font-family: fonte-cabecalho;
  src: url("fontes/Lobster-Regular.ttf");
}
@font-face {
  font-family: fonte-paragrafo-cabecalho;
  src: url("fontes/Ysabeau-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: fonte-menu;
  src: url("fontes/EagleLake-Regular.ttf");
}
/*Área Principal*/
main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background-color: #ff69b4;
}
/*Cabeçalho*/
header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #f1af09;
}
header h2 {
  text-align: center;
  font-size: 2.5em;
  font-family: fonte-cabecalho, sans-serif;
}
header p {
  text-align: center;
  font-size: 1.5em;
  font-family: fonte-paragrafo-cabecalho;
}
/*Menu do Cabeçalho*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #255adf;
}
nav a {
  font-size: 1.17em;
  font-family: fonte-menu;
  color: #ffcbdb;
  text-decoration: none;
  margin: 1px 0px;
}
nav a:hover {
  color: #ffffff;
  background-color: #c79d33;
  font-weight: bold;
  cursor: pointer;
}

.menu {
  position: relative;
  display: inline-block;
}

.botao-menu {
  background-color: #255adf;
  font-size: 1.17em;
  font-family: fonte-menu;
  color: #ffcbdb;
  text-decoration: none;
  margin: 1px 0px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.opcoes-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #c79d33;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.opcoes-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.opcoes-menu li {
  margin-bottom: 10px;
}

.opcoes-menu a {
  text-decoration: none;
  color: #333;
}

.opcoes-menu a:hover {
  color: #ffcbdb;
}

.menu:hover .opcoes-menu {
  display: block;
}

@media (max-width: 520px) {
  header h2 {
    font-size: 1.3em;
  }
  header p {
    font-size: 1em;
    font-weight: bold;
  }
  nav a,
  .botao-menu {
    font-size: 0.77em;
  }
}
